.env
.mcp.json
*.log
*.spec
build/
dist/
/debug/
/cache/
/.cache/
/.venv-build/
/ime_switcher.json
__pycache__/
ime_switcher/__pycache__/
*.exe
*.toc
*.pkg
*.pyz
**/localpycs/
**/xref-*.html
**/warn-*.txt
.claude/
